doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1')
        meta(property='description' content='Kodai\'s website')

        meta(property='og:local' content='ja_JP')
        meta(property='og:type' content='website')
        meta(property='og:title' content='Articles - Kodai')
        meta(property='og:url' content='https://kodai.vision')
        meta(property='og:description' content='Kodai\'s website')

        meta(property='twitter:card' content='summary')

        link(rel='canonical' href='https://kodai.vision/articles.html')

        title Articles
    body
        h1 Articles
        each article in articles
            h2 #{article.title}
            | !{article.content}
