---
slug: common-lisp
year: 2016
type: secondary
hasDetail: true
title: Common Lisp に入門した
modifiedAt: 2024-04-23
---

<script>
  import { ExternalLink } from '~/components';
</script>

Twitter で繋がっているエンジニアの方々から Lisp というプログラミング言語のことを教わり、
「Land of Lisp」という技術書を購入して Common Lisp に入門しました。

当時 Common Lisp について書き残していたブログ記事：<ExternalLink url="http://0918nobita.diary.to/archives/1058653625.html" label="Common Lispについて学んだことをまとめてみた(1)" />
