{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": "last 1 chrome versions"
        }
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "jsxPragma": "jsx"
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "jsx"
      }
    ]
  ]
}
