---
import Layout from "../layouts/Layout.astro";
---

<Layout title="連絡先 | Kodai のウェブサイト">
  <h2>連絡先</h2>
  <ul>
    <li>
      <a href="mailto:nobita.0918@gmail.com">Gmail</a>
    </li>
    <li>
      X (Twitter)：<a
        href="https://twitter.com/0918nobita"
        rel="noopener noreferrer"
        target="_blank">@0918nobita</a
      >
    </li>
    <li>
      Bluesky：<a
        href="https://bsky.app/profile/kodai.engineer"
        rel="noopener noreferrer"
        target="_blank">@kodai.engineer</a
      >
    </li>
  </ul>
</Layout>
