---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro';
import HistoryPageConfig from '../components/HistoryPageConfig.svelte';
import HistoryA from '../components/HistoryA.svelte';
import HistoryB from '../components/HistoryB.svelte';
import HistoryC from '../components/HistoryC.svelte';
import ExternalLink from '../components/ExternalLink.astro';
---

<Layout title="自分史 | Kodai のウェブサイト">
  <h1>自分史</h1>

  <p>準備中…</p>

  <HistoryPageConfig client:load />

  <Heading id="2024">2024年</Heading>

  <HistoryB client:load>
    <h3>Gleam 言語に入門した</h3>
  </HistoryB>

  <HistoryC client:load>
    <h3>HSK２級に合格した</h3>
    <p>
      <ExternalLink
        url="https://twitter.com/0918nobita/status/1772130838777376928"
        label="合格報告ツイート"
      />
    </p>
  </HistoryC>

  <Heading id="2023">2023年</Heading>

  <HistoryA client:load>
    <h3>
      gRPC・GraphQL を介して Rust・Node.js・Svelte を繋ぐサンプルを作成した
    </h3>
    <h3>
      中国語学習支援の Obsidian プラグイン「Obsidian Zhongwen
      Block」を開発・公開した
    </h3>
  </HistoryA>

  <HistoryB client:load>
    <h3>
      YouTube ライブのチャットを VOICEVOX で読み上げるツールを Rust
      で自作・運用した
    </h3>
    <h3>NeoVim を Lua でカスタマイズすることにハマった</h3>
  </HistoryB>

  <HistoryC client:load>
    <h3>中国語を独学で学び始めた</h3>
  </HistoryC>

  <Heading id="2022">2022年</Heading>

  <HistoryA client:load>
    <h3>Svelte に入門した</h3>
    <h3>WebRTC を用いて異なる端末間で映像共有するサンプルを作成した</h3>
    <h3>TypeScript で MVU フレームワークと VDOM ランタイムを自作した</h3>
  </HistoryA>

  <HistoryB client:load>
    <h3>Rust で自作言語用の言語サーバを開発した</h3>
    <h3>Rust の手続きマクロについて詳しく学んだ</h3>
    <h3>
      Twitter のハッシュタグ付き新着ツイートを VOICEVOX で読み上げるツールを
      Rust で自作・運用した
    </h3>
    <h3>Godot に入門した</h3>
  </HistoryB>

  <Heading id="2021">2021年</Heading>

  <HistoryA client:load>
    <h3>放送大学教養学部教養学科情報コースに入学した</h3>
    <h3>GitHub Actions 等を連携させ、バックエンドのデプロイを効率化した</h3>
  </HistoryA>

  <HistoryB client:load>
    <h3>Rust から Vulkan を利用し、グラデーション付きの三角形描画に成功した</h3>
    <h3>Kotlin・Android に関する様々なライブラリを学んだ</h3>
  </HistoryB>

  <Heading id="2020">2020年</Heading>

  <HistoryA client:load>
    <h3>
      GitHub Actions を活用した CI/CD について学び、自作アクションを公開した
    </h3>
    <h3>Elm 言語に入門し、The Elm Architecture について学んだ</h3>
    <h3>Rust でマルチスレッド・WebSocket の Web サーバを実装した</h3>
  </HistoryA>

  <HistoryB client:load>
    <h3>その他</h3>
    <ul>
      <li>
        FFI
        に興味を持ち、様々な言語からC言語の共有ライブラリを利用するサンプルを作成した
      </li>
      <li>アセンブリプログラミングをしていた</li>
      <li>Scala 言語に入門した</li>
      <li>F# を用いて静的型検査付きの言語処理系を実装した</li>
    </ul>
  </HistoryB>

  <Heading id="2019">2019年</Heading>

  <HistoryA client:load>
    <h3>CyberAgent 就業型インターンシップ「CA Tech JOB」に参加</h3>
    <p>2月下旬〜3月末に AbemaTV の Web フロントエンドの開発に参加しました。</p>
    <h3>pixiv 就業型インターンシップ「SUMMER BOOT CAMP 2019」に参加 (9月)</h3>
    <p>pixivFACTORY の Web フロントエンドの開発に参加しました。</p>
    <p>
      インターン体験記：<ExternalLink
        url="https://0918nobita.hateblo.jp/entry/2019/10/02/163408"
        label="ピクシブの就業インターンに参加しました - 名残"
      />
    </p>
    <h3>HERP 就業型インターンシップに参加 (現在も継続中)</h3>
    <h3>その他</h3>
    <ul>
      <li>React に入門した</li><li>立命館大学情報理工学部を中退 (10月)</li>
    </ul>
  </HistoryA>

  <HistoryB client:load>
    <h3>FORTH 言語に入門し、技術同人誌を執筆・頒布した</h3>
    <p>
      Lisp からの繋がりで FORTH
      言語に興味を持ち、色々な文献を漁りながらサンプルコードを書いて独学で学習を進めました。
      <br />
      そしてそのなかで得られた知見を技術同人誌「DARK FORTH - Prologue」にまとめ、技術書点7にサークル参加して頒布しました。
      <br />
      現在も BOOTH にて PDF 版を無料でダウンロードできます。
    </p>
    <p>
      <ExternalLink
        url="https://twitter.com/0918nobita/status/1175218041560240129"
        label="自サークルの宣伝ツイート"
      />
    </p>
    <p>
      <ExternalLink
        url="https://twitter.com/0918nobita/status/1175586298922323968"
        label="実際に頒布している場所の写真を載せたツイート"
      />
    </p>
    <h3>F# 言語に入門し、私の１番好きなプログラミング言語となった</h3>
    <h3>OCaml を用いてパーサコンビネータやコンパイラを自作していた</h3>
    <p>
      <ExternalLink
        url="https://github.com/0918nobita/psyche"
        label="(GitHub) 0918nobita/psyche"
      />
    </p>
    <p>
      OCaml で自作言語 Psyche のコンパイラを作成していました。ターゲットは
      WebAssembly (バイナリ形式) です。名前束縛 (let), 関数定義と WASM
      モジュールでのエクスポートを実装し、フィボナッチ数を求める関数が定義できるようになりました。
      <br />
      なかでも OCaml の関数型プログラミング言語としての性質を活かしたパーサコンビネータの実装について深く知る機会になりました。また、WASM
      の命令の仕様について深く知るため、仕様書を読んだり既存の WASM バイナリを逆アセンブルして解析したりしていました。
    </p>
    <ul>
      <li>
        <ExternalLink
          url="https://twitter.com/0918nobita/status/1147417073523408896"
          label="(Twitter) パーサコンビネータを作成している様子"
        />
      </li>
      <li>
        <ExternalLink
          url="https://twitter.com/0918nobita/status/1132488447610900483"
          label="(Twitter) 比較演算子を実装してから論理演算子, if 式を実装するまでの一連のツイート"
        />
      </li>
      <li>
        <ExternalLink
          url="https://twitter.com/0918nobita/status/1154716848614625280"
          label="(Twitter) 関数定義/呼び出しを実装したときのツイート"
        />
      </li>
      <li>
        <ExternalLink
          url="https://twitter.com/0918nobita/status/1147715930148839424"
          label="(Twitter) WASM モジュールでのエクスポートを実装したときのツイート"
        />
      </li>
    </ul>
    <h3>プログラミング言語の意味論や型システムについて学んだ</h3>
    <p>
      プログラミング言語の理論的な側面 (数理論理学, 操作的意味論, 表示的意味論)
      に興味を持ち、プログラミング言語処理系の実装を進めながらいろいろな文献を漁った時期でもありました。
      <br />
      「プログラミング言語の基礎概念」(通称 CoPL) という本で OCaml の操作的意味論について学び、そこで出題される導出木に関する問題を自動で解くプログラム
      ( <ExternalLink
        url="https://twitter.com/0918nobita/status/1083243313820385280"
        label="関連ツイート"
      /> ) を OCaml で作成することで理解を深めました。
    </p>
  </HistoryB>

  <Heading id="2018">2018年</Heading>

  <HistoryA client:load>
    <h3>立命館大学情報理工学部に入学 (4月)</h3>
    <h3>
      LINE サマーインターンシップ・エンジニアスクールコースに参加 (8〜9月)
    </h3>
    <p>Android 向けメッセンジャーアプリをチームで開発しました。</p>
    <p>
      紹介記事：
      <ExternalLink
        url="https://line-hr.jp/archives/52596047.html"
        label="サマーインターンシップ2018、各コースの様子をご紹介します : LINE HR BLOG"
      />
    </p>
    <p>
      バックエンドは Kotlin, Spring, MyBatis, Tyrus (WebSocket)
      を用いて開発しました。
      <br />
      <ExternalLink
        url="https://github.com/line-school2018summer/kyotob_api"
        label="(GitHub) line-school2018summer/kyotob_api"
      />
    </p>
    <p>
      Android アプリ側は Kotlin, Retrofit, Tyrus を用いて開発しました。
      <br />
      <ExternalLink
        url="https://github.com/line-school2018summer/kyotob_android"
        label="(GitHub) line-school2018summer/kyotob_android"
      />
    </p>
    <h3>Webアプリ「Tsundoku」の開発</h3>
    <p>
      技術書典で購入した「Ionic と Firebase
      でゼロからはじめるアプリ開発」という技術同人誌を参考にしつつ、 Firebase
      Authentication, Cloud Firestore, Cloud Functions, Cloud Storage
      を活用して積読管理用 Web アプリ「Tsundoku」を自主開発していました。
    </p>
    <p>
      <ExternalLink
        url="https://github.com/0918nobita/Tsundoku"
        label="(GitHub) 0918nobita/Tsundoku"
      />
    </p>
    <h3>その他</h3>
    <ul>
      <li>TypeScript に入門し、その型システムについての認識を深めた</li>
      <li>
        Vue.js 公式ドキュメントの翻訳に貢献した
        <ExternalLink
          url="https://github.com/vuejs/jp.vuejs.org/pull/981"
          label="vuejs/jp.vuejs.org #981"
        />
      </li>
      <li>
        ng-kyoto Angular Meetup や FRONTEND CONFERENCE 2018
        など様々な技術者向け勉強会・カンファレンスに参加してフロントエンドの実際の開発ノウハウを学んだ
      </li>
    </ul>
  </HistoryA>

  <HistoryC client:load>
    <h3>技術書典5に一般参加して技術同人誌を色々と買った</h3>
    <p>
      <ExternalLink
        url="https://twitter.com/0918nobita/status/1049286050613346312"
        label="戦利品報告ツイート"
      />
    </p>
  </HistoryC>

  <Heading id="2017">高校３年生</Heading>

  <HistoryA client:load>
    <h3>
      立命館大学主催プログラミングコンテスト「あいちゃれグローバル」に参加
    </h3>
    <p>
      オリジナルのプログラミング言語「Xemime」の処理系(インタプリタ)を開発して応募し、立命館大学でプレゼンをして<b
        >最優秀賞とワークスアプリケーションズ賞を受賞しました。</b
      >
    </p>
    <p>
      応募したプログラムのリポジトリ：
      <ExternalLink
        url="https://github.com/xemime-lang/xemime"
        label="xemime-lang/xemime"
      />
    </p>
    <ul>
      <li>
        <ExternalLink
          url="https://twitter.com/0918nobita/status/910868736025833473"
          label="(Twitter) Xemime の if-else 式"
        />
      </li>
      <li>
        <ExternalLink
          url="https://twitter.com/0918nobita/status/910870986513252352"
          label="(Twitter) Xemime のアロー関数"
        />
      </li>
      <li>
        <ExternalLink
          url="https://twitter.com/0918nobita/status/912808387263344640"
          label="(Twitter) Xemime に while 文を追加した"
        />
      </li>
    </ul>
  </HistoryA>

  <Heading id="2016">高校２年生</Heading>

  <HistoryB client:load>
    <p>
      Twitter で繋がっているエンジニアの方々から Lisp
      というプログラミング言語のことを教わり、
      <br />
      「Land of Lisp」という技術書を購入して Common Lisp に入門しました。
    </p>
    <p>
      当時 Common Lisp について書き残していたブログ記事：
      <ExternalLink
        url="http://0918nobita.diary.to/archives/1058653625.html"
        label="Common Lispについて学んだことをまとめてみた(1)"
      />
    </p>
  </HistoryB>

  <Heading id="2015">高校１年生</Heading>

  <HistoryB client:load>
    <ul>
      <li>Linuxを使い始めた</li>
      <li>C言語に入門し、手動メモリ管理やポインタについて学んだ</li>
    </ul>
  </HistoryB>

  <Heading id="2014">中学３年生</Heading>

  <HistoryA client:load>
    <ul>
      <li>マイパソコンを手にして、さらにプログラミングに夢中になった</li>
      <li>Git・GitHub と様々なプログラミング言語に入門した</li>
      <li>
        初めて PHPで Web サービスを開発し、GitHub を介して共同開発を経験した
      </li>
    </ul>
  </HistoryA>

  <HistoryB client:load>
    <ul>
      <li>
        Java に入門した
        <ul>
          <li>
            「スッキリわかる Java 入門 (インプレスジャパン,
            2011)」という本を参考にした
          </li>
          <li>クラスベースオブジェクト指向の基本を学んだ</li>
        </ul>
      </li>
      <li>Ruby で基礎的なアルゴリズム問題を解いていた</li>
    </ul>
  </HistoryB>

  <Heading id="2013">中学２年生</Heading>

  <HistoryA client:load>
    <h3>ホームページ制作に初めて挑戦した</h3>
    <p>
      また、HTML・CSSの入門書を参考にホームページを制作し、fc2
      ホームページで一般公開していました。
      <br />
      JavaScript や jQuery についても学び、動きのあるウェブサイトづくりに活かしました。
    </p>
  </HistoryA>

  <HistoryB client:load>
    <h3>BASIC 言語でプログラミングに入門した</h3>
    <p>
      DSi 上で BASIC
      言語プログラミングができるソフト「プチコンmk-Ⅱ」がきっかけでプログラミングに夢中になりました。
      横スクロールゲーム開発に挑戦する中で、ボタン操作の検知やダブルバッファリングなどの技術を学びました。
    </p>
  </HistoryB>
</Layout>
