---
import Layout from '~/layouts/Layout.astro';
import { HistoryPageConfig } from '~/components/HistoryPageConfig';
import S2013 from '~/components/history/2013.astro';
import S2014 from '~/components/history/2014.astro';
import S2015 from '~/components/history/2015.astro';
import S2016 from '~/components/history/2016.astro';
import S2017 from '~/components/history/2017.astro';
import S2018 from '~/components/history/2018.astro';
import S2019 from '~/components/history/2019.astro';
import S2020 from '~/components/history/2020.astro';
import S2021 from '~/components/history/2021.astro';
import S2022 from '~/components/history/2022.astro';
import S2023 from '~/components/history/2023.astro';
import S2024 from '~/components/history/2024.astro';
---

<Layout
  title="自分史 | Kodai のウェブサイト"
  description="Kodai の経歴についてまとめています。"
>
  <h1>自分史</h1>

  <p>準備中…</p>

  <HistoryPageConfig client:load />

  <S2024 />
  <S2023 />
  <S2022 />
  <S2021 />
  <S2020 />
  <S2019 />
  <S2018 />
  <S2017 />
  <S2016 />
  <S2015 />
  <S2014 />
  <S2013 />
</Layout>
