---
import Layout from "../layouts/Layout.astro";
---

<Layout title="自分史 | Kodai のウェブサイト">
  <h2>自分史</h2>
  <p>準備中…</p>
  <ul>
    <li>
      立命館大学主催プログラミングコンテスト「あいちゃれグローバル」に参加
      <ul>
        <li>
          オリジナルのプログラミング言語の処理系(インタプリタ)を開発して応募
        </li>
        <li>最優秀賞を受賞した</li>
      </ul>
    </li>
    <li>立命館大学情報理工学部に入学</li>
    <li>基本情報技術者を取得</li>
    <li>LINE インターンシップに参加</li>
    <li>
      CyberAgent インターンシップに参加
      <ul>
        <li>AbemaTV の Web フロントエンドの開発に1ヶ月間参加した</li>
      </ul>
    </li>
    <li>pixiv インターンシップに参加</li>
    <li>HERP インターンシップに参加 (現在も継続中)</li>
    <li>立命館大学情報理工学部を中退</li>
    <li>放送大学教養学部に入学</li>
  </ul>
</Layout>
