---
import ExternalLink from '../components/ExternalLink.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="趣味 | Kodai のウェブサイト">
  <h1>趣味</h1>
  <p>準備中…</p>
  <ul>
    <li>
      いろいろなプログラミング言語に触れる
      <ul>
        <li>OCaml, F#</li>
        <li>Haskell, PureScript, Elm</li>
        <li>Common Lisp, Scheme, Racket, Clojure</li>
        <li>FORTH</li>
        <li>Rust</li>
        <li>JavaScript, TypeScript</li>
        <li>Java, Kotlin, Scala</li>
        <li>PHP</li>
        <li>Lua</li>
      </ul>
    </li>
    <li>
      Obsidian プラグインの開発
      <ul>
        <li>
          <ExternalLink
            url="https://github.com/0918nobita/obsidian-zhongwen-block"
            label="Zhongwen Block プラグイン"
          />
        </li>
      </ul>
    </li>
    <li>
      中国語の学習
      <ul>
        <li>HSK４級取得に向けて独学で勉強中</li>
      </ul>
    </li>
    <li>エレキベースの演奏</li>
    <li>デジタルイラストを描く</li>
    <li>
      アニメ観賞
      <ul>
        <li>魔法少女まどか☆マギカ</li>
        <li>PSYCHO-PASS</li>
        <li>ガンダムシリーズ (SEED, 00, 水星の魔女, …)</li>
      </ul>
    </li>
    <li>
      音楽鑑賞
      <ul>
        <li>Artcore</li>
        <li>Neurofunk</li>
        <li>Breakcore</li>
        <li>Industrial</li>
        <li>Schranz</li>
        <li>Ambient</li>
      </ul>
    </li>
  </ul>
</Layout>
