---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kodai のウェブサイト">
  <h2>Kodai のウェブサイト</h2>

  <p>本名：松本 幸大 (まつもと こうだい)</p>

  <p>2000年2月16日生まれ(現在23歳)&emsp;男性&emsp;高知県出身</p>

  <p>計算機とプログラミング言語が好きです</p>
</Layout>
