---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kodai のウェブサイト">
  <h1>Kodai のウェブサイト</h1>

  <p>本名：松本 幸大 (まつもと こうだい)</p>

  <ul>
    <li>2000年2月16日生まれ (現在24歳)</li>
    <li>25卒</li>
    <li>男性</li>
    <li>高知県出身・在住</li>
  </ul>

  <p>計算機とプログラミング言語が好きです！</p>

  <p>このウェブサイトは Astro で開発されています。</p>
</Layout>
