---
import Layout from '../layouts/Layout.astro';
---

<Layout title="スキル・強み | Kodai のウェブサイト">
  <h2>スキル・強み</h2>
  <p>準備中…</p>
  <p>
    プログラミング言語そのものに興味があり、色々なプログラミング言語に触れています。
  </p>
  <ul>
    <li>プログラミング言語 TypeScript / JavaScript</li>
    <li>
      CSS
      <ul>
        <li>Flexbox, Grid Layout を用いたスタイリング</li>
        <li>CSS Modules</li>
        <li>Vanilla Extract CSS</li>
      </ul>
    </li>
    <li>仮想DOMライブラリ<ul><li>React</li><li>Vue.js</li></ul></li>
    <li>Webフレームワーク<ul><li>Astro</li><li>Remix</li></ul></li>
    <li>
      プログラミング言語 F#
      <ul>
        <li>
          Fable を用いた Web フロントエンド / Node.js アプリケーション開発
        </li>
        <li>Paket を用いたパッケージ管理</li>
      </ul>
    </li>
    <li>プログラミング言語 OCaml</li>
  </ul>
</Layout>
