---
import { ExternalLinkIcon } from '~/components/ExternalLinkIcon';

interface Props {
  url: string;
  label: string;
}

const { url, label } = Astro.props;
---

<a href={url} rel="noopener noreferrer" target="_blank">{label}</a>
<ExternalLinkIcon client:only="svelte" />
