---
import { AnchorLinkIcon } from '~/components/AnchorLinkIcon';

interface Props {
  id: string;
  textLabel: string;
}

const { id, textLabel } = Astro.props;
---

<div class="heading">
  <h2 {id}><slot /></h2>
  <a
    class="anchor-link"
    href={`#${id}`}
    aria-label={`${textLabel}へのアンカーリンク`}
  >
    <AnchorLinkIcon
      textLabel={textLabel}
      className="anchor-link-icon"
      client:only="svelte"
    />
  </a>
</div>

<style>
  .heading {
    margin: 1.5rem 0;
  }

  h2 {
    display: inline;
  }

  a {
    display: inline-block;
  }

  @media (hover: hover) {
    :global(.anchor-link-icon) {
      opacity: 0;
    }

    .heading:hover :global(.anchor-link-icon) {
      opacity: 1;
    }
  }
</style>
