---
import { Image } from 'astro:assets';
---

<nav>
  <Image
    class="icon"
    src="/icon.jpg"
    alt="kodai のアイコン"
    width="399"
    height="399"
    loading="eager"
    decoding="async"
  />
  <ul>
    <li><a href="/"><div>トップページ</div></a></li>
    <li><a href="/skills"><div>スキル・強み</div></a></li>
    <li><a href="/history"><div>自分史</div></a></li>
    <li><a href="/hobbies"><div>趣味</div></a></li>
    <li><a href="/contact"><div>連絡先</div></a></li>
  </ul>
</nav>

<style>
  nav {
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
    width: 18rem;
    min-height: 100vh;
  }

  .icon {
    max-width: 100%;
    height: auto;
    padding: 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    &:hover {
      background-color: var(--sidebar-hovered-bg);
    }

    a {
      text-decoration: none;

      div {
        padding: 0.5rem 1rem;
      }
    }
  }
</style>
