---
import { Image } from 'astro:assets';

import * as styles from './Sidebar.css';

import ThemeToggle from './ThemeToggle.svelte';

interface Props {
  className: string;
}

const { className } = Astro.props;
---

<nav class:list={[className, styles.nav]}>
  <Image
    class:list={[styles.icon]}
    src="/icon.jpg"
    alt="kodai のアイコン"
    width="399"
    height="399"
    loading="eager"
    decoding="async"
  />

  <ul class:list={[styles.navList]}>
    <li class:list={[styles.navItem]}>
      <a class:list={[styles.navItemLink]} href="/"> トップページ </a>
    </li>
    <li class:list={[styles.navItem]}>
      <a class:list={[styles.navItemLink]} href="/contact">連絡先</a>
    </li>
    <li class:list={[styles.navItem]}>
      <a class:list={[styles.navItemLink]} href="/skills">スキル・強み</a>
    </li>
    <li class:list={[styles.navItem]}>
      <a class:list={[styles.navItemLink]} href="/history">自分史</a>
    </li>
    <li class:list={[styles.navItem]}>
      <a class:list={[styles.navItemLink]} href="/hobbies">趣味</a>
    </li>
  </ul>

  <div class:list={[styles.spacer]}></div>

  <ThemeToggle client:only="svelte" />
</nav>
