.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 3rem;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);

  .top {
    height: 100%;

    .icon {
      height: 100%;
      width: auto;
    }
  }

  .navItem {
    display: grid;
    place-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;

    &:hover {
      background-color: var(--sidebar-hovered-bg);
    }
  }
}
