---
import Heading from '../Heading.astro';
import HistoryA from './HistoryA.svelte';
import HistoryB from './HistoryB.svelte';
import HistorySection from './HistorySection.astro';
---

<HistorySection>
  <Heading id="2013" textLabel="中学２年生の頃の項目">中学２年生</Heading>

  <HistoryA client:load>
    <h3>ホームページ制作に初めて挑戦した</h3>
    <p>
      また、HTML・CSSの入門書を参考にホームページを制作し、fc2
      ホームページで一般公開していました。
      <br />
      JavaScript や jQuery についても学び、動きのあるウェブサイトづくりに活かしました。
    </p>
  </HistoryA>

  <HistoryB client:load>
    <h3>BASIC 言語でプログラミングに入門した</h3>
    <p>
      DSi 上で BASIC
      言語プログラミングができるソフト「プチコンmk-Ⅱ」がきっかけでプログラミングに夢中になりました。
      横スクロールゲーム開発に挑戦する中で、ボタン操作の検知やダブルバッファリングなどの技術を学びました。
    </p>
  </HistoryB>
</HistorySection>
