---
import ExternalLink from '../ExternalLink.astro';
import Heading from '../Heading.astro';
import HistoryB from './HistoryB.svelte';
import HistorySection from './HistorySection.astro';
---

<HistorySection>
  <Heading id="2016">高校２年生</Heading>

  <HistoryB client:load>
    <p>
      Twitter で繋がっているエンジニアの方々から Lisp
      というプログラミング言語のことを教わり、
      <br />
      「Land of Lisp」という技術書を購入して Common Lisp に入門しました。
    </p>
    <p>
      当時 Common Lisp について書き残していたブログ記事：
      <ExternalLink
        url="http://0918nobita.diary.to/archives/1058653625.html"
        label="Common Lispについて学んだことをまとめてみた(1)"
      />
    </p>
  </HistoryB>
</HistorySection>
