---
import ExternalLink from '../ExternalLink.astro';
import Heading from '../Heading.astro';
import HistoryA from './HistoryA.svelte';
import HistoryB from './HistoryB.svelte';
import HistorySection from './HistorySection.astro';
---

<HistorySection>
  <Heading id="2019" textLabel="2019年の項目">2019年</Heading>

  <HistoryA client:load>
    <h3>CyberAgent 就業型インターンシップ「CA Tech JOB」に参加</h3>
    <p>2月下旬〜3月末に AbemaTV の Web フロントエンドの開発に参加しました。</p>
    <h3>pixiv 就業型インターンシップ「SUMMER BOOT CAMP 2019」に参加 (9月)</h3>
    <p>pixivFACTORY の Web フロントエンドの開発に参加しました。</p>
    <p>
      インターン体験記：<ExternalLink
        url="https://0918nobita.hateblo.jp/entry/2019/10/02/163408"
        label="ピクシブの就業インターンに参加しました - 名残"
      />
    </p>
    <h3>HERP 就業型インターンシップに参加 (現在も継続中)</h3>
    <h3>その他</h3>
    <ul>
      <li>React に入門した</li><li>立命館大学情報理工学部を中退 (10月)</li>
    </ul>
  </HistoryA>

  <HistoryB client:load>
    <h3>FORTH 言語に入門し、技術同人誌を執筆・頒布した</h3>
    <p>
      Lisp からの繋がりで FORTH
      言語に興味を持ち、色々な文献を漁りながらサンプルコードを書いて独学で学習を進めました。
      <br />
      そしてそのなかで得られた知見を技術同人誌「DARK FORTH - Prologue」にまとめ、技術書点7にサークル参加して頒布しました。
      <br />
      現在も BOOTH にて PDF 版を無料でダウンロードできます。
    </p>
    <p>
      <ExternalLink
        url="https://twitter.com/0918nobita/status/1175218041560240129"
        label="自サークルの宣伝ツイート"
      />
    </p>
    <p>
      <ExternalLink
        url="https://twitter.com/0918nobita/status/1175586298922323968"
        label="実際に頒布している場所の写真を載せたツイート"
      />
    </p>
    <h3>F# 言語に入門し、私の１番好きなプログラミング言語となった</h3>
    <h3>OCaml を用いてパーサコンビネータやコンパイラを自作していた</h3>
    <p>
      <ExternalLink
        url="https://github.com/0918nobita/psyche"
        label="(GitHub) 0918nobita/psyche"
      />
    </p>
    <p>
      OCaml で自作言語 Psyche のコンパイラを作成していました。ターゲットは
      WebAssembly (バイナリ形式) です。名前束縛 (let), 関数定義と WASM
      モジュールでのエクスポートを実装し、フィボナッチ数を求める関数が定義できるようになりました。
      <br />
      なかでも OCaml の関数型プログラミング言語としての性質を活かしたパーサコンビネータの実装について深く知る機会になりました。また、WASM
      の命令の仕様について深く知るため、仕様書を読んだり既存の WASM バイナリを逆アセンブルして解析したりしていました。
    </p>
    <ul>
      <li>
        <ExternalLink
          url="https://twitter.com/0918nobita/status/1147417073523408896"
          label="(Twitter) パーサコンビネータを作成している様子"
        />
      </li>
      <li>
        <ExternalLink
          url="https://twitter.com/0918nobita/status/1132488447610900483"
          label="(Twitter) 比較演算子を実装してから論理演算子, if 式を実装するまでの一連のツイート"
        />
      </li>
      <li>
        <ExternalLink
          url="https://twitter.com/0918nobita/status/1154716848614625280"
          label="(Twitter) 関数定義/呼び出しを実装したときのツイート"
        />
      </li>
      <li>
        <ExternalLink
          url="https://twitter.com/0918nobita/status/1147715930148839424"
          label="(Twitter) WASM モジュールでのエクスポートを実装したときのツイート"
        />
      </li>
    </ul>
    <h3>プログラミング言語の意味論や型システムについて学んだ</h3>
    <p>
      プログラミング言語の理論的な側面 (数理論理学, 操作的意味論, 表示的意味論)
      に興味を持ち、プログラミング言語処理系の実装を進めながらいろいろな文献を漁った時期でもありました。
      <br />
      「プログラミング言語の基礎概念」(通称 CoPL) という本で OCaml の操作的意味論について学び、そこで出題される導出木に関する問題を自動で解くプログラム
      ( <ExternalLink
        url="https://twitter.com/0918nobita/status/1083243313820385280"
        label="関連ツイート"
      /> ) を OCaml で作成することで理解を深めました。
    </p>
  </HistoryB>
</HistorySection>
