---
import Heading from '../Heading.astro';
import HistoryA from './HistoryA.svelte';
import HistoryB from './HistoryB.svelte';
import HistorySection from './HistorySection.astro';
---

<HistorySection>
  <Heading id="2020" textLabel="2020年の項目">2020年</Heading>

  <HistoryA client:load>
    <h3>
      GitHub Actions を活用した CI/CD について学び、自作アクションを公開した
    </h3>
    <h3>Elm 言語に入門し、The Elm Architecture について学んだ</h3>
    <h3>Rust でマルチスレッド・WebSocket の Web サーバを実装した</h3>
  </HistoryA>

  <HistoryB client:load>
    <h3>その他</h3>
    <ul>
      <li>
        FFI
        に興味を持ち、様々な言語からC言語の共有ライブラリを利用するサンプルを作成した
      </li>
      <li>アセンブリプログラミングをしていた</li>
      <li>Scala 言語に入門した</li>
      <li>F# を用いて静的型検査付きの言語処理系を実装した</li>
    </ul>
  </HistoryB>
</HistorySection>
