---
import ExternalLink from '../ExternalLink.astro';
import Heading from '../Heading.astro';
import HistoryB from '../HistoryB.svelte';
import HistoryC from '../HistoryC.svelte';
import HistorySection from '../HistorySection.astro';
---

<HistorySection>
  <Heading id="2024">2024年</Heading>

  <HistoryB client:load>
    <h3>Gleam 言語に入門した</h3>
  </HistoryB>

  <HistoryC client:load>
    <h3>HSK２級に合格した</h3>
    <p>
      <ExternalLink
        url="https://twitter.com/0918nobita/status/1772130838777376928"
        label="合格報告ツイート"
      />
    </p>
  </HistoryC>
</HistorySection>
