*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

:root {
  --main-text: #535353;
  --main-bg: #fcfcfc;
  --heading2-text: #8a6498;
  --heading3-text: #535353;
  --underline: #b3b3b3;
  --sidebar-text: #535353;
  --sidebar-bg: #f8e4ff;
  --sidebar-hovered-bg: #e9d3f1;
  --card-bg-color: #af9eaf6b;
  --card-border-color: #af9eaf6b;
  --card-box-shadow: 0 2rem 2rem -2rem #d3d3d3;
}

:root[data-theme='dark'] {
  --main-text: #fcfcfc;
  --main-bg: #363636;
  --heading2-text: #caaed6;
  --heading3-text: #e4e4e4;
  --underline: #939393;
  --sidebar-text: #fcfcfc;
  --sidebar-bg: #736279;
  --sidebar-hovered-bg: #907999;
  --card-bg-color: #7e707e6b;
  --card-border-color: #7e707e6b;
  --card-box-shadow: 0 2rem 2rem -2rem rgb(10 10 10);

  img {
    filter: grayscale(20%);
  }
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif, 'Segoe UI Emoji';
  font-size: 17px;
  line-height: 30px;
}

h2 {
  color: var(--heading2-text);
}

h3 {
  color: var(--heading3-text);
}

a {
  text-decoration-color: var(--underline);
}
