:root {
  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-700: oklch(37.3% 0.034 259.733);

  --text-color-default: var(--color-gray-700);
}

body {
  margin: 0;
  background-color: var(--color-gray-50);
  color: var(--text-color-default);
}
