---
slug: fsharp
year: 2019
type: secondary
hasDetail: true
title: F# 言語にハマった
modifiedAt: 2024-04-23
---

OCaml 繋がりで F# 言語に興味を持ち、入門しました。

- コンピュテーション式
- アクティブパターン
- SRTP (静的に解決される型パラメータ)
- 測量単位
- 型プロバイダ

といった特徴的な言語機能に触れて、F# は可読性・表現力・型安全性の観点から私にとって特に好きなプログラミング言語のひとつとなりました。
