---
slug: herp
year: 2019
type: primary
hasDetail: true
title: HERP 就業型インターンシップに参加
modifiedAt: 2025-04-27
---

2019年10月から2025年3月まで参加していました。

TypeScript, Cycle.js, fp-ts, OpenAPI, GraphQL について学びつつ  
Webフロントエンド、BFF、Node.js バックエンドの開発に携わりました。
