.main {
  display: flex;
  flex-direction: row;

  .spHeader {
    display: none;
  }

  .articleWrapper {
    flex: 1;
    height: 100vh;
    overflow-y: auto;

    .article {
      padding: 1rem 2rem 5rem 2rem;
      max-width: 970px;
      width: 100%;
      margin: 0 auto;
      text-align: justify;
    }
  }
}

@media (max-width: 750px) {
  .main {
    flex-direction: column;

    .sidebar {
      display: none;
    }

    .spHeader {
      display: flex;
    }

    .articleWrapper {
      height: fit-content;
      overflow-y: visible;

      .article {
        padding: 0 1rem 3rem 1rem;

        ul {
          padding-left: 20px;
        }
      }
    }
  }
}
