.main {
  display: flex;
  flex-direction: row;

  .spHeader {
    display: none;
  }

  .articleWrapper {
    flex: 1;
    height: 100vh;
    overflow-y: auto;

    .article {
      padding: 1rem;
      line-height: 1.7;
    }
  }
}

@media (max-width: 750px) {
  .main {
    flex-direction: column;

    .sidebar {
      display: none;
    }

    .spHeader {
      display: flex;
    }

    .articleWrapper {
      height: fit-content;
      overflow-y: visible;

      .article {
        padding: 0 1rem 1rem 1rem;
      }
    }
  }
}

.themeToggle {}
