* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container {
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 150px 1fr;
  grid-template-areas:
    "areaA areaB"
    "areaA areaC";
  margin: 40px;
}

#itemA {
  grid-area: areaA;
  background-color: #7f8696;
  padding: 10px;
}

#itemB {
  grid-area: areaB;
  background-color: #90bddb;
  padding: 10px;
}

#itemC {
  grid-area: areaC;
  background-color: #d7e8ed;
  padding: 10px;
}
