---
import { Image } from 'astro:assets';

import * as styles from './SpHeader.css';

interface Props {
  className: string;
}

const { className } = Astro.props;
---

<header class:list={[className, styles.header]}>
  <a class:list={[styles.iconWrapper]} href="/">
    <Image
      class:list={[styles.icon]}
      src="/icon.jpg"
      alt="Kodai のアイコン"
      width="399"
      height="399"
      loading="eager"
      decoding="async"
    />
  </a>
  <a class:list={[styles.navItem]} href="/">トップ</a>
  <a class:list={[styles.navItem]} href="/contact">連絡先</a>
  <a class:list={[styles.navItem]} href="/skills">スキル</a>
  <a class:list={[styles.navItem]} href="/history">自分史</a>
  <a class:list={[styles.navItem]} href="/hobbies">趣味</a>
</header>
