name: Lint

on:
  push:
  pull_request:
    types: [opened, synchronize]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '14'
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: '6.25.1'
          run_install: true
      - run: pnpm lint
