name: Lint

on:
    push:
        branches:
            - master
    pull_request:
        types: [opened, synchronize]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: yarn
            - run: yarn lint
